/*!
  Theme: Github
  Author: Defman21
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
pre code.hljs.dark {
    display: block;
    overflow-x: auto;
    padding: 1em;
}
code.hljs.dark {
    padding: 3px 5px;
}
.hljs.dark {
    color: #333;
    background: #fff;
}
.hljs.dark ::selection,
.hljs.dark::selection {
    background-color: #c8c8fa;
    color: #333;
}
.hljs.dark .hljs-comment {
    color: #969896;
}
.hljs.dark .hljs-tag {
    color: #e8e8e8;
}
.hljs.dark .hljs-operator,
.hljs.dark .hljs-punctuation,
.hljs.dark .hljs-subst {
    color: #333;
}
.hljs.dark .hljs-operator {
    opacity: 0.7;
}
.hljs.dark .hljs-bullet,
.hljs.dark .hljs-deletion,
.hljs.dark .hljs-name,
.hljs.dark .hljs-selector-tag,
.hljs.dark .hljs-template-variable,
.hljs.dark .hljs-variable {
    color: #ed6a43;
}
.hljs.dark .hljs-attr,
.hljs.dark .hljs-link,
.hljs.dark .hljs-literal,
.hljs.dark .hljs-number,
.hljs.dark .hljs-symbol,
.hljs.dark .hljs-variable.constant_ {
    color: #0086b3;
}
.hljs.dark .hljs-class .hljs.dark .hljs-title,
.hljs.dark .hljs-title,
.hljs.dark .hljs-title.class_ {
    color: #795da3;
}
.hljs.dark .hljs-strong {
    font-weight: 700;
    color: #795da3;
}
.hljs.dark .hljs-addition,
.hljs.dark .hljs-built_in,
.hljs.dark .hljs-code,
.hljs.dark .hljs-doctag,
.hljs.dark .hljs-keyword.hljs.dark .hljs-atrule,
.hljs.dark .hljs-quote,
.hljs.dark .hljs-regexp,
.hljs.dark .hljs-string,
.hljs.dark .hljs-title.class_.inherited__ {
    color: #183691;
}
.hljs.dark .hljs-attribute,
.hljs.dark .hljs-function .hljs.dark .hljs-title,
.hljs.dark .hljs-section,
.hljs.dark .hljs-title.function_,
.ruby .hljs.dark .hljs-property {
    color: #795da3;
}
.diff .hljs.dark .hljs-meta,
.hljs.dark .hljs-keyword,
.hljs.dark .hljs-template-tag,
.hljs.dark .hljs-type {
    color: #a71d5d;
}
.hljs.dark .hljs-emphasis {
    color: #a71d5d;
    font-style: italic;
}
.hljs.dark .hljs-meta,
.hljs.dark .hljs-meta .hljs.dark .hljs-keyword,
.hljs.dark .hljs-meta .hljs.dark .hljs-string {
    color: #333;
}
.hljs.dark .hljs-meta .hljs.dark .hljs-keyword,
.hljs.dark .hljs-meta-keyword {
    font-weight: 700;
}
