/*!
  Theme: Dracula
  Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
pre code.hljs.light {
    display: block;
    overflow-x: auto;
    padding: 1em;
}
code.hljs.light {
    padding: 3px 5px;
    border-radius: 3px;
}
.hljs.light {
    color: #e9e9f4;
    background: #282936;
}
.hljs.light ::selection,
.hljs.light::selection {
    background-color: #4d4f68;
    color: #e9e9f4;
}
.hljs.light .hljs-comment {
    color: #626483;
}
.hljs.light .hljs-tag {
    color: #62d6e8;
}
.hljs.light .hljs-operator,
.hljs.light .hljs-punctuation,
.hljs.light .hljs-subst {
    color: #e9e9f4;
}
.hljs.light .hljs-operator {
    opacity: 0.7;
}
.hljs.light .hljs-bullet,
.hljs.light .hljs-deletion,
.hljs.light .hljs-name,
.hljs.light .hljs-selector-tag,
.hljs.light .hljs-template-variable,
.hljs.light .hljs-variable {
    color: #ea51b2;
}
.hljs.light .hljs-attr,
.hljs.light .hljs-link,
.hljs.light .hljs-literal,
.hljs.light .hljs-number,
.hljs.light .hljs-symbol,
.hljs.light .hljs-variable.constant_ {
    color: #b45bcf;
}
.hljs.light .hljs-class .hljs-title,
.hljs.light .hljs-title,
.hljs.light .hljs-title.class_ {
    color: #00f769;
}
.hljs.light .hljs-strong {
    font-weight: 700;
    color: #00f769;
}
.hljs.light .hljs-addition,
.hljs.light .hljs-code,
.hljs.light .hljs-string,
.hljs.light .hljs-title.class_.inherited__ {
    color: #ebff87;
}
.hljs.light .hljs-built_in,
.hljs.light .hljs-doctag,
.hljs.light .hljs-keyword.hljs-atrule,
.hljs.light .hljs-quote,
.hljs.light .hljs-regexp {
    color: #a1efe4;
}
.hljs.light .hljs-attribute,
.hljs.light .hljs-function .hljs-title,
.hljs.light .hljs-section,
.hljs.light .hljs-title.function_,
.hljs.light .ruby .hljs-property {
    color: #62d6e8;
}
.hljs.light .diff .hljs-meta,
.hljs.light .hljs-keyword,
.hljs.light .hljs-template-tag,
.hljs.light .hljs-type {
    color: #b45bcf;
}
.hljs.light .hljs-emphasis {
    color: #b45bcf;
    font-style: italic;
}
.hljs.light .hljs-meta,
.hljs.light .hljs-meta .hljs-keyword,
.hljs.light .hljs-meta .hljs-string {
    color: #00f769;
}
.hljs.light .hljs-meta .hljs-keyword,
.hljs.light .hljs-meta-keyword {
    font-weight: 700;
}
